.container{
    margin: 10%;
}

.total-cart{
    font-size: 20px;
}



.clear-btn{
    padding: 10px 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid black;
    color: black;
}

.clear-cart-div{
    display: flex;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}


.center-items {
    align-content: center;
    text-align: center;
}

.cart-items{

}

.item-content{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.item-card{
    border: 2px solid black;
    margin: 40px;
    width: 300px;
    display: inline-block;
    height: 420px;
}

.items{
    width: 100%;
    justify-content: center;
}

.sad-cart{
    height: 50px;
}

.cart-item-title{
    font-size: 20px;
    height: 80px;
}

.buttons-for-items{
  justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.btn-remove{
    padding: 5px 45px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 18px;
    border: 1px solid black;
}

.btn-change{
    padding: 5px 10px;
    font-size: 20px;
    color: black;
    border: 1px solid black;
}

.cart-top{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 40px;
}

.cart-h{
    text-align: center;
}

.cart-header{
    font-size: 28px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 120px;
}

.cart-products{
    min-height: 520px;
    width: 100%;
    background-color: #6a6161;
    border-radius: 5px;
    margin-top: 30px;
    position: relative;
}

.products-in-cart{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    min-width: 85%;
    min-height: 480px;
    border-radius: 5px;
}
.steps-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 2;
    padding-top:415px;
}

.button-prev{
    width: 80px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.button-next{
    margin-bottom: 5px;
    width: 71px;
}

.buttons-cart{
    margin: 5px;
    border: none;
    background: none;
}

.img-control{
    width: 40px;
    height: 40px;
}

.button-submit{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color:black;
    margin-top: 110px;
    padding: 5px;
    background-color: #cccccc;
    text-align:center;
}

.button-submit:hover{
    background-color: #e9e8e8;
    transition-delay: 0.1s;
}