.header-space{
    height: 600px;
}

.img-header{
    padding-top: 80px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 80% 18%;
}

.img-header2{
    padding-top: 80px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 22%;
}

.title-shop{
    padding-top: 100px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    margin: 20px;
    text-shadow: #61dafb ;
}

.desc-shop{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;

}