.multi-form{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    display: grid;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -25%);
}